%li
  = (link_to number_to_word(timesheet.month)+" #{timesheet.year}", timesheet_path(timesheet)) + " ("
  = (link_to "Löschen", timesheet, :confirm => "Wollen Sie diesen Stundenzettel wirklich löschen?", :method => :delete) + ")"